page {
  height: 100%;
}
.cates {
  height: 100%;
}
.cates-container {
  display: flex;
  height: calc(100vh - 90rpx);
  .left-meun {
    flex: 1;
    .left-meun-item {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 80rpx;
      font-size: 30rpx;
    }
  }
  .current {
    color: var(--themeColor);
    border-left: 5px solid currentColor;
  }
  .right-meun {
    flex: 2;
    display: flex;
    flex-direction: column;
  }
}

.goods-group {
  flex: 1;
  display: flex;
  flex-direction: column;
  .goods-title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80rpx;
    text {
      color: #666666;
      padding: 0 10rpx;
    }
  }
  .goods-content {
    display: flex;
    flex-wrap: wrap;
    padding: 20rpx;
    navigator {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex-basis: 110rpx;
      width: 110rpx;
      margin: 10rpx 20rpx;
    }
    flex: 4;
    image {
      width: 100%;
    }
    .goods-content-name {
      white-space: nowrap;
    }
  }
}
